<html ng-app="myApp">
  <head>
    <script src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    
    <script>
      
angular.module("myApp" , [])

.controller("myController", function($scope) {
  $scope.isVisible1="false";
  $scope.isVisible2="false";
  $scope.isVisible3="false";
  $scope.isVisible4="false";
  
  $scope.myCollection = [
      { name: 'John', age: 25 },
      { name: 'Barry', age: 43 },
      { name: 'Kim', age: 26 },
      { name: 'Susan', age: 51 },     
    ];
    
  $scope.toggleVisible = function() {
	  //alert($scope.isVisible1);
      if ($scope.isVisible1) {
        $scope.isVisible1 = false;
      } else if (!$scope.isVisible1){
        $scope.isVisible1 = true;
      }
      
      else if ($scope.isVisible2) {
          $scope.isVisible2 = false;
        } else if (!$scope.isVisible2){
          $scope.isVisible2 = true;
        }
      
        else if ($scope.isVisible3) {
          $scope.isVisible3 = false;
        } else if (!$scope.isVisible3) {
          $scope.isVisible3 = true;
        }
        else if ($scope.isVisible4) {
          $scope.isVisible4 = false;
        }
        
        else
        {
          $scope.isVisible4 = true;
        }
  };
});
      
    </script>
  </head>
  <body ng-controller="myController">
    <ul>
      <li ng-repeat="person in myCollection">
      <input type="checkbox" ng-click="toggleVisible()"> 
        <!-- <button ng-click="toggleBold()">toggle bold</button> -->
      </li>
    </ul>
    
      <div style="color:RED" ng-show="isVisible1">
      prashantmathur
      </div>
      <div style="color:GREEN" ng-show="isVisible2">
      prashantmathur
      </div>
      <div style="color:BLUE" ng-show="isVisible3">
      prashantmathur
      </div>
      <div style="color:YELLOW" ng-show="isVisible4">
      prashantmathur
      </div>
    
  </body>

</html>
