<html ng-app="myApp">
  <head>
    <script src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    
    <script>
      
angular.module("myApp" , [])

.controller("myController", function($scope) {
  $scope.isVisible1="true";
  $scope.isVisible2="true";
  $scope.isVisible3="true";
  $scope.isVisible4="true";
  $scope.myCollection = [
      { name: 'John', age: 25 },
      { name: 'Barry', age: 43 },
      { name: 'Kim', age: 26 },
      { name: 'Susan', age: 51 },
      { name: 'Fritz', age: 19 }
    ];
    
  $scope.toggleVisible = function() {
	  alert($scope.isVisible);
      if ($scope.isVisible1) {
        $scope.isVisible1 = false;
      } else {
        $scope.isVisible1 = true;
      }
  };
});
      
    </script>
  </head>
  <body ng-controller="myController">
    <ul>
      <li ng-repeat="person in myCollection">
      <input type="checkbox" ng-click="toggleBold()"> 
        <!-- <button ng-click="toggleBold()">toggle bold</button> -->
      </li>
    </ul>
    
      <div style="color:RED" ng-show="isVisible1">
      prashantmathur
      </div>
      <div ng-show="isVisible2">
      prashantmathur
      </div>
      <div ng-show="isVisible3">
      prashantmathur
      </div>
      <div ng-show="isVisible4">
      prashantmathur
      </div>
    
  </body>

</html>
